///////////////////

@import "px-colors-design/_settings.colors.scss";
@import "px-headings-design/_base.headings.scss";
@import "px-iconography-design/_base.iconography.scss";

// Objects
@import "px-actionable-text-icons-design/_objects.actionable.scss";
@import 'px-sliding-gauge-sketch.scss';


$regular:15px;

.slider {
  border-color: var(--px-slider-border-color, $gray5);
  background-color: var(--px-slider-background-color, $gray1);
}

.slider__selected {
  border-color: var(--px-slider-border-color--selected, $select-blue-pressed);
  background-color: var(--px-slider-background-color--selected, $select-blue-default);
}

// Component
$slider-tags-hover: '.slider-container:active, .slider-container:hover';

.left__container {
  margin-right: auto;
}

.right__container {
  margin-left: auto;
}
.px-slider-0 .slider.px-slider {
  position: relative;
  height: .66667rem;
  border: none;
  border-radius: 0px;
}
.flex .px-slider {
  .title, .sub-title {
    //line-height: 0px;
  }
  .title {
    font-size: $regular;
    color: $gray9;
    font-weight: bold;
  }
  .subtitle {
    color: $gray6;
  }
}
.slider-container {
  padding: 8px;
  border: 1px solid;

  bands {
    .gauge-alerts{

    }
    .slider__band {
      position: absolute;
      top: -1px;
      left: 0;
      height: $inuit-base-spacing-unit--small;
      border-width: 1px;
      border-style: solid;
    }
    .yellow-band {
      background-color: $dv-light-yellow;
      color: $dv-light-yellow;;
    }
    .green-band {
      background-color: $dv-light-green;
      color: $dv-light-green;
    }
    .red-band {
      background-color: $dv-light-red;
      color: $dv-light-red;
    }
  }

  ticks{
    .tick{
      position: absolute;
      top: -1px;
      left: 0;
      width:1px;
      height: 15px;
      background-color: $grey7;
      color: $grey7;
      label{
        top:14px;
        position: relative;
        font-size: 12px; //$zeta
        color: $black;
      }
    }
    .latest-value {
      width: 2px;
      background-color: $black;
      height: 22px;
      top:-6px;
    }
  }
}

#{$slider-tags-hover} {
  border: 1px solid $select-blue-default;
}
