///////////////////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";
@import "px-headings-design/_base.headings.scss";
@import "px-iconography-design/_base.iconography.scss";
// Objects
@import "px-actionable-text-icons-design/_objects.actionable.scss";
@import 'px-sliding-gauge-sketch.scss';

$regular: 15px;

// Component
$slider-tags-hover: '.slider-container:active, .slider-container:hover';

.left__container {
  margin-right: auto;
  .title, .sub-title {
    padding: 0 0 $inuit-base-spacing-unit--small;
    margin: 0px !important;
    line-height: 12px;
  }
  .title {
    font-size: $regular;
    color: $gray9;
    font-weight: bold;
  }
  .sub-title {
    color: $gray6;
  }
}

.right__container {
  margin-left: auto;
  .fa-stack{
    width: 1.3em;
  }
  span.unit{
    padding: 10px 10px 10px 5px;
  }
  span .fa-refresh {
    border-radius: 14px;
    border: 1px solid $gray5;
    font-size: 14px;
    background: $white;
    padding: 6px;

    &.disabled {
      background: $white;
      color: $gray4;
      border: 1px solid $gray4;
    }

    &:active{
      background: $gray5;
      color: $primary-blue;
      border: 1px solid $gray6;
    }

    &:not(.disabled):hover {
      background: $gray3;
      color: $primary-blue;
      border: 1px solid $gray6;
      text-shadow: 1px 15% $black;
    }
  }
}
.slider-container {
  padding: $inuit-base-spacing-unit $inuit-base-spacing-unit--large $inuit-base-spacing-unit--tiny;
  border: 1px solid;
  height: 135px;

  bands {
    .slider__band {
      position: absolute;
      left: 0;
      height: 8px;
    }
    .yellow-band {
      background-color: $dv-light-yellow;
    }
    .green-band {
      background-color: $dv-light-green;
    }
    .red-band {
      background-color: $dv-light-red;
    }
  }

  ticks {
    .tick {
      position: absolute;
      left: 0;
      width: 1px;
      height: 15px;
      background-color: $grey7;
      color: $grey7;
      label {
        top: 14px;
        position: relative;
        font-size: 12px; //$zeta
        color: $black;
      }
    }
    .latest-value {
      width: 2px;
      background-color: $black;
      height: 22px;
      top: -6px;
    }
  }
}

#{$slider-tags-hover} {
  border: 1px solid $select-blue-default;
}


