sudo: required
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install web-component-tester
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
env:
  global:
  - secure: pkXVfxpBIeJQXJ+UGDF3RMRfk17aznilfOOBqIOrjyAfONTVZypmP61Oii6Qnb67yW+R/h4IZcR1+EDKG5QCYTZlcrTb7+5Tg3j3E11mgwCxeEueeEkkPD7fWf7VUUtJG3CoTKDWWzzOnFahyqeBeYdK0Z4rx2DlIiWYlf10qtJSwEFWg8FPoz/T576SsdxTiv0LaGo1dTni+7f7/D/nhLPYtBu5Q0zWr1MtTB+GNHfs2V941ARTrLop/FCD7KGxYDXTxdUp0oDCQiBOJgDiV61XWEk4fEG0OB630RBXGF1zEHksSBBNI7zqxYDlXTFsXw401VtHFUH3Z8WQ6OyepDpSLa7CRqdDP9qInW4tFwukMpYlo2nw8a3Yt0VU01hmDpdSMPCf9MbIAt7o5XEes+P2ewa4fs+iyVRkonXVVhr2u8Nb5IOZTm7s30IGN4CQqMlquZSRj/onsNmptFgp1CBH2SiWl5Q4bjrBWIu3FLgE635LJqNRiYzZIFJCu8jL2k5k4qDcGz69yEH6zJq4hRldkMV3L79eheRhkgRqvH6RcYl7YL9/XhaMqGcjz+QZLqmjTyo41Mm4PxaYwyIraH77uIa0Q5bQXBJ2Yb7pIWdERjwDbEb5oKEcitmLwYN0r2QApwTfGVPQM6928NcqqYXRAs7xuNMdbwClags7/JA=
  - secure: VxqpiOAZci4xUEQV3PbUt4k3onE/Dv60mm0YAudiJG54P0FH/ZAVKdW/j7Lrg4Ujgg2ynSYJZNiXAKabL3Way0pPNgs0vIc6tdEo36TpnHu2OLHmOVDbglfxFrwBPKj6+tBD7qfN9+2cyO4yfCa1VxsWuc83386uQIOlIgwaQVurj+LCKr6sx146MOEFWTZLDzVUCfzPyI7IY7r+Yfy/x7PN8UcbxvH2cSHfxaTwzMs7AqQye62WlZEvWHKCU3exA9WmS9fuuvWohFl894BAWimlKh8UbpOa47B9Nq63ttvV0JbUPTLBCAeMY/d7EclVmQzMdAd0LrtE9VY3fAlTaKw0gtUeK3X9bt5/5cGA82Tk4X7S+4H6T/veWc5fWC5Z/p3qPUOLrUu/JZs6yT5nf3XfdtnWavrxGOBaTUdv1NiIGiU/rIegTr537lflG4FVsayThFMGgsqWTmuGYm6hw7wFXyF5CDOMfAEOZ6DsQOtZdFZwkDqFHu4YHJdFn2dz5/PlVeDYYhNKur11/YuMYO+3mEDp/ptvvArJrEGIvOPR8Ys3rKSPxQbdHBQbFwvxqDH0ymv+r/dVuu5kzwQqyheMlVyz4qhRhQojl6UUrpLUz3DCusK7tdH8TZ0+3SGcRTDZNTaVvdE5F6PE0txUAemQxd9ycJMFhjqTSZBbSQY=
before_install:
  - if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$password" -in id_rsa.enc -out deploy_key -d; fi
after_success:
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
